* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 400px;
  background-color: rgb(12,50,90);
  color: white;
  font-family: sans-serif;
}

/* li {
  display: inline-block;
  padding: 0 20px;
  font-size: 10px;
} */

.sup {
  background-color: green;
}

.box-sx {
  width: 55%;
  height:51.6px;
  background-color: grey;
}



li {
  display: inline-block;
  padding: 0 20px;
  font-size: 10px;
  line-height: 50px;
}

.logo {
  padding: 5px 50px;
}

.box-dx {
  width: 45%;
  height:51.6px;
  background-color: lightgrey;
}


.fl {
  float: left;
}

.fr {
  float: right;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
