* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header {
  background-color: rgb(12,50,90);
  color: white;
  /* font-family: sans-serif; */
}

li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 10px;
  line-height: 50px
}

a {
  text-decoration: none;
  color: white;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.fl:first-child {
  width: 55%;
  /* height:50px; */
  /* background-color: grey; */
}

.logo {
  padding: 10px 50px;
}

.fl:last-child {
  width: 45%;
  /* height:50px; */
  /* background-color: lightgrey; */
}

.top :last-child nav {
  text-align: center;
}

button {
  border-radius: 5px;
  cursor: pointer;
}

li:nth-child(2) > button {
  padding: 5px 25px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

li:last-child > button {
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: rgb(124,187,2);
  border: 1px solid rgb(124,187,2);
}

.fr {
  float: right;
}

.men-talking {
  width: 66.66%;
}

.men-talking img{
  width: 100%;
  padding-top: 60px;
}

.bottom {
  position: relative;
}

.claim {
  position: absolute;
  left: 155px;
  top: 40%;
  transform: translate(0%, -50%);
}

.claim span {
  font-size: 55px;
}

.plan button {
  margin-top: 25px;
  padding:15px 15px;
  border: none;
  color: white;
  background-color: rgb(124,187,2);
  border: 1px solid rgb(124,187,2);
  text-transform: uppercase;
}

.header-girth {
  height: 130px;
  background-color: rgb(211,211,211);
  clear: right;
}

.header-girth {
  position: relative;
  text-align: center;
}

.header-girth .warning  {
  font-size: 25px;
  font-weight: 550;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-girth .recommendation {
  font-size: 18px;
  font-weight: 10;
  padding-top: 10px;
}

main {
  /* background-color: red; */
  padding: 0 155px;
}

main .top .box {
  float: left;
  width: 33.33%;
  padding: 50px 70px;
  text-align: center;
}

.photo {
  height: 130px;
}

.description {
  padding-top: 20px;
  font-size: 20px;
  color: lightgrey;
}

.description hr {
  width: 20%;
  margin: 12px auto;
  border: 1px solid lightgrey;
  background-color: lightgrey;
}

.description p {
  font-size: 12px;
  line-height: 18px;
}

main .bottom {
  /* background-color: red; */
}

main .bottom .box {
  float: left;
  width: 50%;
  padding: 50px 70px;
  text-align: center;
  /* border: 1px solid black; */
  /* background-image: url("../img/mountain.svg");
  background-size: cover;
  background-position: center; */
}

main .bottom .box .photo {
  height: 320px;
}

main .bottom .read.box {
  text-align: left;
}

.read .description a {
  font-size: 12px;
  line-height: 50px;
  color: lightgrey;
  text-decoration: underline;
}

footer {
  height: 130px;
  background-color: rgb(211,211,211);
  position: relative;
  text-align: left;

}

footer h3 {
  position: absolute;
  padding: 0 155px;
  line-height: 130px;

}
