* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  /* height: 400px; */
  background-color: rgb(12,50,90);
  color: white;
  font-family: sans-serif;
}

li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 10px;
  line-height: 50px
}

a {
  text-decoration: none;
  color: white;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.fl:first-child {
  width: 55%;
  /* height:50px; */
  /* background-color: grey; */
}

.logo {
  padding: 10px 50px;
}

.fl:last-child {
  width: 45%;
  /* height:50px; */
  /* background-color: lightgrey; */
}

.top :last-child nav {
  text-align: center;
}

button {
  border-radius: 5px;
  cursor: pointer;
}

li:nth-child(2) > button {
  padding: 5px 25px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

li:last-child > button {
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: rgb(124,187,2);
  border: 1px solid rgb(124,187,2);
}

.fr {
  float: right;
}

.men-talking {
  width: 66.66%;
}

.men-talking img{
  width: 100%;
  padding-top: 60px;
}
